@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #112D4E;
    --color-secondary: #3F72AF;
}

*{
    font-family: 'Inter', sans-serif;
}

.myshadow {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}
